p, .font-other {
  color: #5c5c5c;
  font-family: Verdana, sans-serif;
}

.panel {
  width: 70%;
  margin: 50px auto 0 auto;
}

.panel-default {
  border-color: #c3a0cb;
}

.panel-default > .panel-heading {
  color: #4b0082;
  background-color: #c3a0cb;
  border-color: #c3a0cb;
}

hr {
  width: 70%;
}

.fa-github:hover {
  color: #4b0082;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

a {
  color: black;
}

.copyright {
  margin-top: 10px;
}

.options-main {
  margin-bottom: 10px;
}

.select-handle {
  width: 100px;
}

.control-label {
  font-weight: 1px;
}
